*{margin: 0;
padding: 0%;
box-sizing: border-box;
}

body{
    background-color: rgb(178, 178, 178);}

    

.container{
    
    margin: auto;
    max-width:1152px;
    height:2041px;
    border:  1px solid;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    
}

.container>*{
border: 1px dashed;
flex-grow: 1;
flex-shrink: 0;


}

.nav{
    font-size: 20px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 10px;
}



.box1{
    
    background-color: rgb(182, 248, 147);
    height: 500px;
    width: 80%;
    min-width: 60%;
    display: flex;
    align-self: center;
    flex-wrap: wrap-reverse;
    
}

.box1>*{
    background-color: aquamarine;
    border: 1px dashed;
    flex-basis: 200;
    /* flex: 1 0; */
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;

}

#button{
    background-color: rgb(255, 102, 0);
    border: none;
    font-size: 20px ;
    color: white;
    width: 200px;
    height: 50px;
}


.headline{
    padding-right: 40px;
    width: 70%;
}

.picpro{ 
    padding-left: 20px;
    width: 30%;
   
}



.box2{
    background-color: rgb(216, 243, 243);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.item1{
align-self: center;
font-size: 25px;
height: 50px;
width: 80%;
padding-top: 10px;
display: flex;
justify-content: space-between;
border: 1px dashed;
background-color: aquamarine;

}



.item2{
    width: 80%;
    height: 100%;
    padding-block: 20px;
    border: 1px dashed;
    display: flex;
    align-self:center;
    border: 1px dashed;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    flex-direction:row;
    background-color: aquamarine;
}

.item2>*{
    background-color: azure;
    border-radius: 10px;
    font-size: 20px;
    border: 1px dashed;
    flex-basis: 250px;
    width: 80%;
    flex-grow: 1
    ;
}



.box3{
    background-color: rgb(255, 174, 88);
    height: 800px;
    width: 80%;
    align-self: center;

}

.item1-1{
    font-size: 25px;
    padding-top: 10px;
    height: 50px;
    background-color: antiquewhite;
}

.item1-2{
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.item1-2>*{
    border: 1px dashed;
    flex: 1 1 0;
    background-color: azure;
}

.feature2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 460;
}

.feature2>*{
    border: 1px dashed;
    /* display: flex; */
    border-bottom: 1px solid;
    flex-direction: row;
    width: 60%;
    flex-grow: 1;
    flex-basis: 700;
}

.pic-1{
    width: 40%;
    flex-grow: 1;
    
}

.detail{
    text-align:justify;
}

.footer{
    background-color: rgb(255, 255, 255);
    height: 182px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footimg{object-fit: cover;
    flex-wrap: 1;
    flex-shrink: 1;
}