*{margin: 0;
padding: 0%;
box-sizing: border-box;
}

body{
    background-color: rgb(178, 178, 178);}

    

.container{
    
    margin: auto;
    max-width:1152px;
    height:2041px;
    border:  1px solid;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    
    
}

.container>*{
border: 1px dashed;
flex-grow: 1;
flex-shrink: 1;


}

.nav{
    font-size: 30px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}



.box1{
    background-color: rgb(182, 248, 147);
    height: 500px;
    width: 80%;
    display: flex;
    align-self: center;
    flex-basis: auto;
}

.box1>*{
    background-color: aquamarine;
    flex: 1 1 0;
    border: 1px dashed;
    
}

.box2{
    background-color: rgb(238, 227, 159);
    height: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.child1{
flex: 1 1 20%;
border: 1px dashed;
    background-color: aquamarine;
}
.child2{
    flex: 1 1 80%;
    border: 1px dashed;
    display: flex;
    flex-direction:row;
    background-color: aquamarine;
}

.child2>*{
    flex: 1 1 100%;
    border: 1px dashed;
}

.box3{
    background-color: rgb(255, 174, 88);
    height: 800px;
    width: 80%;
    align-self: center;
}

.footer{
    background-color: rgb(255, 255, 255);
    height: 182px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footimg{object-fit: cover;
    flex-wrap: 1;
    flex-shrink: 1;
}