*{margin: 0;
padding: 0%;
box-sizing: border-box;
}

body{
    background-color: rgb(178, 178, 178);}

    

.container{
    
    margin: auto;
    max-width:1152px;
    /* border:  1px solid; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    /* gap: 20px; */
    
    
    
}

.container>*{
border: 1px dashed;
flex-grow: 1;
flex-shrink: 1;
}

.nav{
    font-size: 20px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 10px;
    margin-bottom: 50px;
}



.box1{
    
    background-color: rgb(182, 248, 147);
    max-width: 80%;
    display: flex;
    align-self: center;
    flex-wrap: wrap-reverse;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 1;
    
}

.box1>*{
    background-color: aquamarine;
    border: 1px dashed;
    align-content: center;
    

}
.headline{
    padding-right: 40px;
    flex:1 1 641.5px;
}
.picpro{
    padding-left: 20px;
    flex: 1 1 264.5px;
}

#button{
    background-color: rgb(255, 102, 0);
    border: none;
    font-size: 20px ;
    color: white;
    width: 200px;
    height: 50px;
}



.box2{
    background-color: rgb(216, 243, 243);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.item1{
align-self: center;
font-size: 25px;
height: 50px;
width: 80%;
padding-top: 10px;
display: flex;
justify-content: space-between;
border: 1px dashed;
background-color: aquamarine;

}



.item2{
    width: 80%;
    height: 100%;
    padding-block: 20px;
    border: 1px dashed;
    display: flex;
    align-self:center;
    border: 1px dashed;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    flex-direction:row;
    background-color: aquamarine;
}

.item2>*{
    background-color: azure;
    border-radius: 10px;
    font-size: 20px;
    border: 1px dashed;
    /* flex-basis: 250px; */
    flex:1 1 250px;
    
}



.box3{
    background-color: rgb(255, 174, 88);
    
    width: 80%;
    align-self: center;

}

.item1-1{
    font-size: 25px;
    padding-top: 10px;
    height: 50px;
    background-color: antiquewhite;
}

.item1-2{
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.feature2{
    border: 1px dashed;
    background-color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.feature2>*{
    border: 1px dashed;
    /* display: flex; */
    border-bottom: 1px solid;
    flex-direction: row;
}

.pic-1{
    
    flex:1 1 30%;
    flex-grow: 1; 
    
}



.detail{
    flex:1 1 70%;
    text-align:justify;
}

.footer{
    background-color: rgb(255, 255, 255);
    /* height: 182px; */
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.footimg{
    /* object-fit: cover; */
    overflow:hidden ;
    flex-wrap: 1;
    flex-shrink: 1;
}

@media (min-width:648px;) {content: ;
    
}