*{margin: 0;
padding: 0%;
box-sizing: border-box;
}

body{background-color: rgb(178, 178, 178);}


.container{
    margin: auto;
    width:1152px;
    height:2041px;border:  1px solid;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
}

.container>*{
border: 1px dashed;
}

.nav{
    height: 150px;
    background-color: aqua;
    border: 1px solid;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.box1{
    background-color: rgb(182, 248, 147);
    flex: 1 1 100%;
}
.box2{
    background-color: rgb(238, 227, 159);
    height: 396px;
    flex: 1 1 100%;
}
.box3{
    background-color: rgb(255, 174, 88);
    flex: 1 1 100%;
}

.Footer{
    background-color: aqua;
    height: 182px;
}