*{margin: 0;
padding: 0%;
box-sizing: border-box;
}

html{
    font-family: "Nunito", sans-serif;
}


body{
    background-color: rgb(178, 178, 178);}

    

.container{
    
    margin: auto;
    max-width:1152px;
    /* border:  1px solid; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    /* gap: 20px; */
    
    
    
}

.container>*{
/* border: 1px dashed; */
flex-grow: 1;
flex-shrink: 1;
}

.nav{
    font-size: 20px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid; */
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 10px;
    margin-bottom: 50px;
}



.box3{
    background-color: rgb(255, 255, 255);
    width: 80%;
    align-self: center;

}

.item1-1{
    font-size: 40px;
    padding-top: 10px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.item1-2{
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.feature2{
    /* border: 1px dashed; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.feature2>*{
    /* border: 1px dashed; */
    /* display: flex; */
    border-bottom: 1px solid;
    flex-direction: row;
    padding-block: 20px;
    
}

.pic-1{
    
    flex:1 1 30%;
    flex-grow: 1; 
    
}



.detail{
    flex:1 1 70%;
    text-align:justify;
}

.footer{
    background-color: rgb(255, 255, 255);
    /* height: 182px; */
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.footimg{
    /* object-fit: cover; */
    overflow:hidden ;
    flex-wrap: 1;
    flex-shrink: 1;
}

@media (max-width: 648px) {
    .page{min-width: 648px;}
    .container{
        /* background-color: red; */
        min-width: 648px;
    }

}